## string methods

In [ ]:
text="HELLO WORLD"

In [4]:
#len()-->returns the length of the string
text="HELLO WORLD"
print("the length of text:",len(text))

the length of text: 11

In [6]:
print("lower case:",text.lower())
print("lower case:",text.upper())

lower case: hello world
lower case: HELLO WORLD

In [7]:
#strip()--> removes leading and trailing spaces)
text="      hello,world!"
print(text)
print(text.strip())

      hello,world!
hello,world!

In [12]:
#replace the word or character with anathor
text="HELLO WORLD"
print(text)
print("replace world with python",text.replace("world","python"))
print("---------------------------------------")
print(text.replace("L","a"))

HELLO WORLD
replace world with python HELLO WORLD
---------------------------------------
HEaaO WORaD

In [14]:
#split()----->split the string into list based on a seperator
text='apple,banana,mango'
print(text.split(","))

['apple', 'banana', 'mango']

In [15]:
# startseith()---> checks if string starts with a given prefix
text="Hello world"
print(text.startswith("He"))

True

In [16]:
#endswith()--->checks string ends with a given suffix
print(text.endswith("d"))

True

In [17]:
# find---> return the index of the first occurance of aa substring
print(text.find('o'))

4

In [19]:
#count---> counts how many times a substrint occur
text="hello,hello,world"
print(text.count("hello"))

2

In [21]:
# isalpha()---> checks if all characters are letters
text="Hello"
print(text.isalpha())
text1="Hello1"
print(text1.isalpha())

True
False

In [22]:
# isdigit()---> checks if all characters are digits
te="123"
print(te.isdigit())

True

In [23]:
# isalnum()----> checks if all charaters are letters or numbers
text="hello123"
print(text.isalnum())

True

In [26]:
#capitalize---> it will give first character in uppercase
str.capitalize("hello world")

'Hello world'

## type casting

In [28]:
int(10.6)
float(5)

5.0

In [29]:
int('123')

123

## format function

In [33]:
name="prasad"
age="10"
print("my name is {} and i am {} years old".format(name,age))

my name is prasad and i am 10 years old

In [36]:
s="my name is {a} and i am {b} years old".format(a=name,b=age)

print(s)

my name is prasad and i am 10 years old

In [38]:
# %d ---->takes all the digit without decimals
# %f ---->takes all the digit with decimals
# %s  ---->takes string data


Integer=10
Float=10.6
String="prasad"
print("hi i am integer my value is %d\ni am float and my value is %f\ni am string and my value is %s"%(Integer,Float,String))

hi i am integer my value is 10
i am float and my value is 10.600000
i am string and my value is prasad

In [39]:
# f-string -----> formated string
# place f before the string and use curly braces {} to insert variables /expressions

name ="john"
age=20
print(f"my name is {name} and i am {age} years old")

my name is john and i am 20 years old

In [40]:
a=2
b=3
print(f"the sum is {a+b}")

the sum is 5

## list data type

In [41]:
a=[10,'hello',3.14,1+3j]
print(a)
print(type(a))

[10, 'hello', 3.14, (1+3j)]
<class 'list'>

In [42]:
#indexing
a=[1,1,2,3,4,5]
print(a)
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

[1, 1, 2, 3, 4, 5]
1
1
2
3
4

In [43]:
a=[1,1,2,3,4,5]
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])

5
4
3
2

In [46]:
#immutable---> we cannot change the element after forming
# sring is immutable
a="hello"
print(a[1])
print(a.replace('e','a'))

e
hallo

In [47]:
#mutable---> we can change the element 
li=[1,2,3,]
li[1]="hello"
print(li)

[1, 'hello', 3]

In [48]:
a=[1,1,2,3,4,5]
print(a[0:4])
print(a[::-1])
print(a[0:5:2])
print(a[-5:])

[1, 1, 2, 3]
[5, 4, 3, 2, 1, 1]
[1, 2, 4]
[1, 2, 3, 4, 5]

In [49]:
a=[1,1,2,3,4,5]
a[0]="hello"
print(a)

['hello', 1, 2, 3, 4, 5]

In [52]:
#nested list----> list inside the list
a=[10,20,30,[12,13]]
print(a)
print(a[3])
print(a[3][1])

[10, 20, 30, [12, 13]]
[12, 13]
13